.heading-1 {

}


.heading-2 {
    
    letter-spacing: -1px;
    color: $color-grey-dark-2;
    font-size: 3.87rem;
    margin-bottom: 1.12rem;
    width: 100%;
    display: inline-block;
}


@import './flaticon';