$font-primary: 'Source Sans Pro';
$font-primary-extralight: 'Source Sans Pro ExtraLight';
$font-primary-light: 'Source Sans Pro Light';
$font-primary-bold: 'Source Sans Pro Bold';

// Colors
$white: #fff;
$black: #000;

$color-blue-light-1: #6ec7f5;

$color-grey-light-1: #e2eaec;
$color-grey-light-2: #c2cacc;


$color-grey-dark-1: #697274;
$color-grey-dark-2: #626c6e;
$color-grey-dark-3: #93999a;

$bq-small: 320px;
$bp-medium: 49.0625em;
$bp-screen: 61.25em;
$bp-large: 80em;