.gallery {

    display: flex;
    flex-wrap: wrap;

    &__photos {

        // flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;

   

        @media only screen and (min-width: #{$bp-screen}) {
            max-width: 70%;
        }
    }

    &__info {
        order: -1;
        width: 100%;
        margin-bottom: 2rem;
   

        @media only screen and (min-width: #{$bp-screen}) {
            max-width: 30%;
            margin-bottom: 0;
            order: 2;
        }
    }
}

.photo {

    height: 30rem;

    width: 100%;
  
    position: relative;
    // background-color: red;
    border-radius: .4rem;

    margin-right: 2rem;
    margin-bottom: 2rem;

    @media only screen and (min-width: #{$bq-small}) {
        // max-width: 35rem;
        max-width: calc(50% - 2rem);
    }


    @media only screen and (min-width: #{$bp-large}) {
        max-width: calc(50% - 4rem);
    }

    img {
        border-radius: .4rem;
        width: 100%;
        display: block;
        margin: 0;
        object-fit: cover;
        height: 100%;
    }


    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #fff;
        font-size: 1.7rem;
        // text-transform: uppercase;
        background-color: rgba($black, .8);
        width: 100%;
        padding: 1.25rem 0; 
        font-weight: bold;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}